extends ..\node_modules\pug-bootstrap\_bootstrap
append scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js")
append styles
	style.
			body { padding-top:80px; }
block body
	.container
		.jumbotron
			ul.nav.nav-tabs(role='tablist')
				li.active
					a(href='#tabHome', role='tab', data-toggle='tab', aria-expanded='true') Principal
				li
					a(href='#tabProfile', role='tab', data-toggle='tab') Perfil
				li
					a(href='#tabMessages', role='tab', data-toggle='tab') Mensajes
				li
					a(href='#tabAdmin', role='tab', data-toggle='tab') Admin
			.tab-content
				#tabHome.tab-pane.active
					h1
						span.fa.fa-anchor
						|  Principal
					p Bienvenido a la aplcación web IntranetMSGS. 
					p lorem ipsum
					p asdf asdf asdf arwetgwerjltgadjgbnakl;sdjgasd
					p werqawerawerawera
				#tabProfile.tab-pane 
					h1
						span.fa.fa-anchor
						|  Perfil
					p Esta es la informacion de su perfil: 
					.row
						.col-sm-6
							.panel.panel-default
								.panel-heading
									h3.panel-title
										span.fa.fa-user
										|  Local
								.panel-body
									p
										strong id: #{user.id}
										br
										strong email: #{user.username}
										br
										strong rol: #{user.rol}
					p Registrado como #{user.username}
					a.btn.btn-default(href="/logout")
						span.fa.fa-sign-out Salir
				#tabMessages.tab-pane
					h1 
						span.fa.fa-anchor
						|  Mensajes
					.row
						.col-sm-3
							.panel.panel-primary
								.panel-heading
									h3.panel-title Enviar mensaje:
								.panel-body
									form.form-signin(data-toggle='validator', role='form' action='/enviarmensaje', method='POST')
										.form-group
											label Para:
											input.form-control(type='text', name='dest', placeholder='destinatario(s)', autofocus='true')
										.form-group
											.radio
												label.radio-inline
													input(type='radio', name='roleDest', value='gerentes')
													| Grupo Subgerentes
											.radio
												label.radio-inline
													input(type='radio', name='roleDest', value='ejecutivos')
													| Grupo Ejecutivos
											.radio
												label.radio-inline
													input(type='radio', name='roleDest', value='todos')
													| Todos
										.form-group
											label Mensaje
											input.form-control(type='text', name='text', placeholder='Escriba su mensaje', required)
										button.btn.btn-warning.btn-lg(type='submit') Enviar
						.col-sm-9
							.panel.panel-info
								.panel-heading
									h3.panel-title Bandeja de entrada 
								.panel-body
									if (!docs.lenght)
										p No hay mensajes.
									else 
										table.table.table-striped.table-hover
											thead
												tr
												th Autor
												th Creado
												th Para
											tbody 
												each doc, index in docs
													tr
														td
															a(data-target='#myModal'+index, data-toggle='modal')
																div(style='height:100%;width:100%') #{doc.author}
														td
															a(data-target='#myModal'+index, data-toggle='modal')
																div(style='height:100%;width:100%') #{doc.creado}
														td
															a(data-target='#myModal'+index, data-toggle='modal')
																div(style='height:100%;width:100%') #{doc.dest}
																
															div.modal.fade(id='myModal'+index, tabindex='-1', role='dialog')
																.modal-dialog
																	.modal-content
																		.modal-header
																			button.close(type='button', data-dismiss='modal')
																				span(aria-hidden='true') ×
																				span.sr-only Cerrar
																			h4#myModalLabel.modal-title doc recibido de #{doc.author} el #{doc.creado}
																				if (doc.roleDest)
																					p Dirigido a #{doc.roleDest}s.
																		.modal-body
																			p= doc.text
																		.modal-footer
																			button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
				#tabAdmin.tab-pane
					h1 
						span.fa.fa-anchor
						|  Administración
					.rowtable.table.table-striped.table-hover
											thead
												tr
												th usuario
												th rol
												th creado
											tbody
												//-? docs : ['No hay mensajes.'] 
												each user, indexB in users
													tr
														td
															a(data-target='#myModal'+indexB + 'B', data-toggle='modal')
																div(style='height:100%;width:100%') #{user.username}
														td
															a(data-target='#myModal'+index + 'B', data-toggle='modal')
																div(style='height:100%;width:100%') #{user.rol}
														td
															a(data-target='#myModal'+index + 'B', data-toggle='modal')
																div(style='height:100%;width:100%') #{user.created}
																
															div.modal.fade(id='myModal'+index + 'B', tabindex='-1', role='dialog')
																.modal-dialog
																	.modal-content
																		.modal-header
																			button.close(type='button', data-dismiss='modal')
																				span(aria-hidden='true') ×
																				span.sr-only Cerrar
																			h4#myModalLabel.modal-title Modificar cuenta de #{user.username}
																		.modal-body
																			p
																		.modal-footer
																			button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

